{#
/**
 * @file
 * Level+'s theme override for the block entity refernece field for the tabs powered custom block
 *
 * @see levelplus_preprocess_field__block_content__mt_tabs_block()
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    'field--entity-reference-target-type-' ~ entity_reference_target_type|clean_class,
    'clearfix',
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'inline' ? 'inline',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if not label_hidden %}
    <h3{{ title_attributes.addClass(title_classes) }}>{{ label }}</h3>
  {% endif %}
  <ul class="nav nav-tabs">
    {% for item in items %}
      <li class="{{item.block_data.active}}"><a href="#tab-id-{{item.block_data.id}}" data-toggle="tab"><span>{{ item.block_data.label }}</span></a></li>
    {% endfor %}
  </ul>
  <div class="tab-content">
    {% for item in items %}
      <div class="tab-pane {{item.block_data.active}}" id="tab-id-{{item.block_data.id}}">{{ item.content }}</div>
    {% endfor %}
  </div>
</div>
