{#
/**
 * @file
 * Levelplus's theme implementation to display a Showcase node.
 */
#}

{% extends "node.html.twig" %}
{% block meta_area %}
  {% if display_submitted %}
    <div class="node__meta">
      {{ author_picture }}
      <span{{ author_attributes.addClass('submitted-info') }}>
        {% trans %}By {{ author_name }}{% endtrans %}
      </span>
      {{ metadata }}
    </div>
  {% endif %}
{% endblock %}
{% block node_side %}
  {% if display_submitted or content.comment %}
    <div class="node--submitted-info
      {% if node.field_mt_subtitle.value or node.field_mt_subheader_body.value %} with-extra-top-space {% endif %}
    ">
      {% if display_submitted %}
        <div class="submitted-date">
          <i class="fa fa-calendar hidden-lg hidden-md hidden-sm"></i>
          <div class="month">{{ node.createdtime|format_date('custom', 'M') }}</div>
          <div class="day">{{ node.createdtime|format_date('custom', 'd') }}</div>
          <div class="year">{{ node.createdtime|format_date('custom', 'Y') }}</div>
        </div>
      {% endif %}
      {% if content.comment %}
        <div class="comments-count">
          <i class="fa fa-comment"></i>
          <div class="comment-counter">{{ comment_count }}</div>
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
{% block content %}
  {{ content|without('field_mt_company_logo','field_mt_company_title','field_mt_company_description','comment') }}
  {% if has_mt_company_logo or has_mt_company_title or has_mt_company_description %}
    <div class="company-info clearfix">
      {{ content.field_mt_company_logo }}
      {% if has_mt_company_title or has_mt_company_description %}
        <div class="company-info-content">
          {% if has_mt_company_title %}
            <div class="title">
              {{ content.field_mt_company_title }}
            </div>
          {% endif %}
          {{ content.field_mt_company_description }}
        </div>
      {% endif %}
    </div>
  {% endif %}
  {{ content.comment }}
{% endblock %}
