{#
/**
 * @file
 * Default theme implementation for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_list()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('levelplus/slider-revolution-full-screen-init') }}
<div id="slideshow-fullscreen" class="slideshow-fullscreen slider-revolution-wrapper {% if rows|length <= 1 %}one-slide{% endif %}" data-version="5.0">
{% if attributes -%}
  <div{{ attributes }}>
{% endif %}
  {% if title %}
    <h3>{{ title }}</h3>
  {% endif %}

  <{{ list.type }}{{ list.attributes }}>

    {% for row in rows %}
      <li{{ row.attributes }} data-transition="{{ mt_setting.rs_slideshow_fullscreen_effect }}" data-slotamount="default" data-title="{{ row.content['#row']._entity.getTitle() }}" data-masterspeed="default">
        {{ row.content }}
        <div class="tp-caption scroll-button smooth-scroll"
          data-x="center"
          data-y="bottom"
          data-start="0"
          data-basealign="slide"
          data-transform_idle="o:1"
          data-transform_in="o:0;s:300;"
          data-transform_out="o:0;s:300;">
          <a href="#page-start"></a>
        </div>
      </li>
    {% endfor %}

  </{{ list.type }}>
  <div class="tp-bannertimer tp-bottom"></div>
{% if attributes -%}
  </div>
{% endif %}
</div>
