{#
/**
 * @file
 * Default theme implementation for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_list()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('levelplus/slider-revolution-internal-banner-init') }}
<div id="slideshow-internal" class="slideshow-internal slider-revolution-wrapper {% if rows|length <= 1 %}one-slide{% endif %}" data-version="5.0">
{% if attributes -%}
  <div{{ attributes }}>
{% endif %}
  {% if title %}
    <h3>{{ title }}</h3>
  {% endif %}

  <{{ list.type }}{{ list.attributes }}>

    {% for row in rows %}
      <li{{ row.attributes }} data-transition="{{ mt_setting.rs_slideshow_internal_effect }}" data-slotamount="default" data-masterspeed="default" data-title="{{ row.content['#row'].node__field_mt_banner_image_field_mt_banner_image_title }}">

        {{ row.content }}

        <div class="tp-caption transparent-bg"
          data-x="left"
          data-y="top"
          data-start="0"
          data-basealign="slide"
          data-transform_idle="o:1"
          data-transform_in="o:0;s:300;"
          data-transform_out="o:0;s:300;"
          data-width="full"
          data-height="full">
        </div>

        {% if row.content['#row'].node__field_mt_banner_image_field_mt_banner_image_title %}
          <div class="tp-caption title"
            data-x="[center,center,center,left]"
            data-y="[center,top,top,top]"
            data-hoffset="[20,0,0,20]"
            data-voffset="[-100,20,20,20]"
            data-lineheight="[85,70,50,35]"
            data-fontsize="[60,48,36,24]"
            data-fontweight="300"
            data-whitespace="normal"
            data-basealign="grid"
            data-start="1200"
            data-width="[700,700,480,350]"
            data-transform_idle="o:1"
            data-transform_in="y:[100%];sX:1;sY:1;o:0;s:1100;e:Power4.easeInOut;"
            data-transform_out="y:[100%];o:0;s:1000;e:Power2.easeInOut;">
              <div class="title-inner">
                {{ row.content['#row'].node__field_mt_banner_image_field_mt_banner_image_title }}
              </div>
          </div>
        {% endif %}

      </li>
    {% endfor %}

  </{{ list.type }}>
  <div class="tp-bannertimer tp-bottom"></div>
{% if attributes -%}
  </div>
{% endif %}
</div>
