/*Layout*/
.page-container {
  position: relative;
  overflow: hidden;
}
.boxed .page-container {
  overflow: visible;
}
/*Regions Layout*/
.white-region,
.light-gray-region {
  padding-top: 25px;
}
.colored-region {
  padding-top: 40px;
}
.white-region + .main-content-empty + .white-region,
.white-region:not(.main-content-empty) + .white-region,
.white-region + .white-region,
.colored-region:not(.dark) + .colored-region:not(.dark),
.colored-region.dark + .colored-region.dark,
.light-gray-region + .light-gray-region {
  padding-top: 0 !important;
}
.colored-region.dark {
  background-color: #1e2527;
}
.light-gray-region {
  background-color: #f4f7fb;
}
/*Header Layout*/
.header-container {
  padding-top: 0;
}
.header {
  position: static;
}
.header-inside-first,
.header-inside-second,
.header-inside-third {
  padding: 20px 0 20px 0;
  position: relative;
}
.three-columns .header-inside-second {
  text-align: center;
}
@media (max-width:991px) {
  .header-inside-first {
    padding-top: 15px;
    padding-bottom: 5px;
  }
  .header-inside-second,
  .header-inside-third {
    padding: 5px 0 15px;
  }
  .header-inside > .row > div:first-child .header-inside-second,
  .header-inside > .row > div:first-child .header-inside-third {
    padding-top: 10px;
  }
  .header-inside-second,
  .header-inside-first,
  .header-inside-third {
    text-align: center;
  }
}

/*Navigation Search*/
.region-search-area {
  position: relative;
}
@media (min-width:768px) {
  .search-area {
    width: 30px;
    float: right;
  }
  .main-navigation.with-search-bar {
    padding-right: 50px;
  }
}
@media (min-width:1200px) {
  .search-area {
    width: 60px;
  }
  .main-navigation.with-search-bar {
    padding-right: 60px;
  }
  .full-width .header-inside-third {
    position: relative;
  }
  .full-width .search-area {
    width: 190px;
    position: absolute;
    right: -15px;
    top: 0px;
    padding-top: 32px;
    margin-top: 0;
    bottom: 0px;
    padding-right: 15px;
    padding-left: 15px;
    height: 100%;
    -webkit-transition: width ease-in-out 0.3s;
    -o-transition: width ease-in-out 0.3s;
    transition: width ease-in-out 0.3s;
  }
  .full-width .main-navigation.with-search-bar {
    padding-right: 190px;
  }
  .full-width .search-area.opened,
  .wide .full-width .search-area.opened {
    width: 100%;
    background-color: #e8eff6;
    z-index: 499;
    padding-top: 20px;
  }
  .full-width .search-area.opened:before {
    background-color: transparent;
  }
}
@media (min-width:1440px) {
  body:not(.boxed) .full-width .search-area {
    width: 350px;
    padding-left: 30px;
  }
  body:not(.boxed) .full-width .main-navigation.with-search-bar {
    padding-right: 350px;
  }
  body:not(.boxed) .full-width .search-area:before {
    left: 15px;
  }
  .fixed-width .search-area .field--name-field-mt-markup-bottom,
  .fixed-width .search-area .field--name-field-mt-markup-top {
    display: none;
  }
  .full-width .search-area.opened .field--name-field-mt-markup-bottom,
  .full-width .search-area.opened .field--name-field-mt-markup-top {
    display: none;
  }
}
.content-top {
  padding: 75px 0 50px 0;
}
body:not(.path-frontpage) .main,
.sidebar,
.path-frontpage .region-content {
  padding: 80px 0 60px;
}
.main-content,
body:not(.path-frontpage) .content-top.white-region + .main-content .main,
.content-top.white-region + .main-content .sidebar,
.path-frontpage .content-top.white-region + .main-content .region-content {
  padding-top: 0;
}
@media (max-width:991px) {
  .sidebar {
    padding: 0 0 60px;
  }
}
.content-bottom {
  padding-bottom: 30px;
}
.content-bottom.colored-region {
  padding-top: 60px;
}
@media (min-width:992px) {
  .col-md-5 + .col-md-5 .content-bottom-second:before {
    content: "";
    height: 100%;
    width: 1px;
    position: absolute;
    top: 0;
    left: -82.5px;
  }
  .colored-region .col-md-5 + .col-md-5 .content-bottom-second:before,
  .colored-region.dark .col-md-5 + .col-md-5 .content-bottom-second:before {
    background-color: rgba(255, 255, 255, 0.4);
  }
}
@media (min-width:1200px) {
  .col-md-5 + .col-md-5 .content-bottom-second:before {
    left: -98.5px;
  }
}
.featured-top {
  padding-bottom: 30px;
}
.featured {
  padding-bottom: 10px;
}
.featured-bottom {
  padding: 85px 0 80px 0;
}
.highlighted {
  padding-bottom: 25px;
  position: relative;
}
.highlighted-bottom {
  width: 100%;
  padding: 55px 0 20px;
  position: relative;
}
.highlighted-bottom.white-region {
  background-color: #ffffff;
}
.highlighted-bottom-inside {
  position: relative;
  z-index: 3;
}
@media (min-width:1200px) {
  .fix-sidebar-second {
    padding-left: 65px;
  }
  .fix-sidebar-first {
    padding-right: 65px;
  }
}

/*Breadcrumb*/
.block-system-breadcrumb-block {
  border-top: 1px solid;
}

/*Footer Layout*/
.footer-top {
  padding: 60px 0 55px;
}
@media (min-width:768px) {
  .footer-top.two-regions.bicolor {
    background: -moz-linear-gradient(left, #dee9f1 50%, #e7eff5 50%);
    background: -webkit-gradient(left, #dee9f1 50%, #e7eff5 50%);
    background: -webkit-linear-gradient(left, #dee9f1 50%, #e7eff5 50%);
    background: -o-linear-gradient(left, #dee9f1 50%, #e7eff5 50%);
    background: -ms-linear-gradient(left, #dee9f1 50%, #e7eff5 50%);
    background: linear-gradient(to left, #dee9f1 50%, #e7eff5 50%);
  }
  .two-regions.bicolor .footer-top-second {
    padding-left: 30px;
  }
  .two-regions.bicolor .footer-top-first {
    padding-right: 30px;
  }
}
.footer {
  padding: 60px 0 25px;
}
.subfooter {
  padding: 20px 0 5px;
}

/*Footer columns clear*/
@media (min-width:768px) {
  .footer > .container > .row > .col-sm-6:nth-child(2n+1) {
    clear: both;
  }
}
@media (min-width:992px) {
  .footer > .container > .row > .col-sm-6.col-md-3:nth-child(2n+1) {
    clear: none;
  }
}

/*Custom Grid*/
.grid-gutter-0 {
  margin-right: 0px;
  margin-left: 0px;
}
.grid-gutter-0 .col-lg-6,
.grid-gutter-0 .col-lg-4,
.grid-gutter-0 .col-lg-3,
.grid-gutter-0 .col-md-6,
.grid-gutter-0 .col-md-4,
.grid-gutter-0 .col-md-3,
.grid-gutter-0 .col-sm-6,
.grid-gutter-0 .col-sm-4,
.grid-gutter-0 .col-sm-3,
.grid-gutter-0 .col-xs-6,
.grid-gutter-0 .col-xs-4,
.grid-gutter-0 .col-xs-3 {
  padding-left: 0px;
  padding-right: 0px;
}
.grid-gutter-10 {
  margin-right: -10px;
  margin-left: -10px;
}
.grid-gutter-10 .col-lg-6,
.grid-gutter-10 .col-lg-4,
.grid-gutter-10 .col-lg-3,
.grid-gutter-10 .col-md-6,
.grid-gutter-10 .col-md-4,
.grid-gutter-10 .col-md-3,
.grid-gutter-10 .col-sm-6,
.grid-gutter-10 .col-sm-4,
.grid-gutter-10 .col-sm-3,
.grid-gutter-10 .col-xs-6,
.grid-gutter-10 .col-xs-4,
.grid-gutter-10 .col-xs-3 {
  padding-left: 10px;
  padding-right: 10px;
}

/*Regions*/
/*Colored Region*/
.colored-region {
  color: #ffffff;
}
.colored-region a {
  color: #ffffff;
  text-decoration: underline;
}
.colored-region a:hover {
  color: #ffffff;
  text-decoration: none;
}
.colored-region p:not(.more-link) a:not(.more),
.colored-region .bordered-link {
  border-bottom: 1px solid #1e2527;
  text-decoration: none;
  color: #ffffff;
}
.colored-region p:not(.more-link) a:not(.more):hover,
.colored-region .bordered-link:hover {
  text-decoration: none;
  background-color: rgba(30, 37, 39, 0.15);
  color: #ffffff;
}

/*dark region*/
.colored-region.dark p:not(.more-link) a:not(.more),
.colored-region.dark .bordered-link {
  border-bottom: 1px solid #fff;
  text-decoration: none;
  color: #ffffff;
}
.colored-region.dark p:not(.more-link) a:not(.more):hover,
.colored-region.dark .bordered-link:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.15);
  color: #ffffff;
}

/*Footer Top*/
@media (max-width:767px) {
  .footer-top-area {
    text-align: center;
  }
}

/*Footer*/
@media (max-width:767px) {
  .footer-area {
    text-align: center;
  }
}

/*Subfooter*/
.subfooter-area {
  font-size: 0.75em;
}
@media (max-width:991px) {
  .subfooter-area {
    text-align: center;
  }
}

/*Layout Mode*/
.boxed .banner-area {
  overflow: hidden;
}
@media (min-width:768px) {
  .boxed .page-container {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    background-color: #fff;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    -moz-box-shadow: 0px 0px 50px #d7d7d7;
    -o-box-shadow: 0px 0px 50px #d7d7d7;
    -webkit-box-shadow: 0px 0px 50px #d7d7d7;
    box-shadow: 0px 0px 50px #d7d7d7;
  }
  .boxed .page-container {
    width: 750px;
  }
  .onscroll.boxed .page-container .header-container > .header {
    width: 748px;
  }
}
@media (min-width:992px) {
  .boxed .page-container {
    width: 970px;
  }
  .onscroll.boxed .page-container .header-container > .header {
    width: 968px;
  }
}
@media (min-width:1200px) {
  .boxed .page-container {
    width: 1170px;
  }
  .onscroll.boxed .page-container .header-container > .header {
    width: 1168px;
  }
}
