/**
 * @file
 * Turqoise color styling for Levelplus.
 *
 * Base color: #14c08d
 * RGB Base color: 20, 192, 141
 */

/* base: elements.css */
a {
  color: #14c08d;
}
p:not(.more-link) a:not(.button),
.bordered-link {
  border-bottom-color: #14c08d;
}
p:not(.more-link) a:not(.button):hover,
.bordered-link:hover,
p:not(.more-link) a:not(.button):focus,.bordered-link:focus {
  background-color: rgba(20, 192, 141, 0.15);
}
a:hover,
a:focus {
  color: #14c08d;
}
pre {
  border-color: #14c08d;
}
blockquote {
  border-color: rgba(20, 192, 141, 0.25);
}
.bordered-block {
  border-color: #14c08d;
}

/* base: layout.css */
.colored-region {
  background-color: #14c08d;
}
@media (min-width:1200px) {
  .full-width .search-area:before {
    background-color: #14c08d;
  }
}
@media (min-width:992px) {
  .col-md-5 + .col-md-5 .content-bottom-second:before {
    background-color: rgba(20, 192, 141, 0.4);
  }
}
.block-system-breadcrumb-block {
  border-color: rgba(20, 192, 141, 0.2);
}

/* components: accordion.css */
.panel-group .panel {
  border-color: #14c08d;
}
.panel-heading a:not(.collapsed),
.panel-heading:hover {
  background: #14c08d;
}

/* components: buttons.css */
a.button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  border-color: #14c08d;
}
a.button:after {
  color: #14c08d;
}
a.button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
a.button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus,
a.button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  background-color: #14c08d;
  border-color: #14c08d;
}

/* components: comments.css */
.comment ul.links {
  border-color: #14c08d;
}
.comment ul.links li a:hover {
  color: #14c08d;
}

/* components: field-mt-highlight.css */
.field--name-field-mt-highlight-link a {
  border-color: #14c08d;
}
.field--name-field-mt-highlight-link a:hover {
  background-color: #14c08d;
}
.field--name-field-mt-highlight-link a:after {
  color: #14c08d;
}

/* components: field-mt-highlight.css */
.field--name-field-mt-prg-special-features .field--name-field-mt-sf-title {
  color: #14c08d;
}

/* components: fields.css */
.field--entity-reference-target-type-taxonomy-term ul.links li a:hover {
  background-color: #14c08d;
  border-color: #14c08d;
}

/* components: flexslider-in-page.css */
#in-page-images-slider .flex-direction-nav a:before {
  color: rgba(20, 192, 141, 0.5);
}
#in-page-images-slider .flex-prev:hover:before,
#in-page-images-slider .flex-next:hover:before {
  color: #14c08d;
}

/* components: forms.css */
input.form-text:focus,
input.form-tel:focus,
input.form-email:focus,
input.form-url:focus,
input.form-search:focus,
input.form-file:focus,
input.form-number:focus,
input.form-color:focus,
textarea.form-textarea:focus,
textarea:focus {
  border-color: #14c08d;
}
.form-style-2 input.form-text:focus,
.form-style-2 input.form-tel:focus,
.form-style-2 input.form-email:focus,
.form-style-2 input.form-url:focus,
.form-style-2 input.form-search:focus,
.form-style-2 input.form-file:focus,
.form-style-2 input.form-number:focus,
.form-style-2 input.form-color:focus,
.form-style-2 textarea.form-textarea:focus,
.form-style-2 textarea:focus,
.contact-message-alternative-form input.form-text:focus,
.contact-message-alternative-form input.form-tel:focus,
.contact-message-alternative-form input.form-email:focus,
.contact-message-alternative-form input.form-url:focus,
.contact-message-alternative-form input.form-search:focus,
.contact-message-alternative-form input.form-file:focus,
.contact-message-alternative-form input.form-number:focus,
.contact-message-alternative-form input.form-color:focus,
.contact-message-alternative-form textarea.form-textarea:focus,
.contact-message-alternative-form textarea:focus {
  border-color: #14c08d;
  background-color: rgba(20, 192, 141, 0.1);
}

/* components: progress-bars.css */
.progress-bar-default {
  background-color: #14c08d;
}

/* components: google-map.css */
.map-canvas-container.in,
.map-canvas-container.collapsing {
  border-color: #14c08d;
}

/* components: icons-list.css */
ul.icons-list li a {
  color: #14c08d;
  border-color: #14c08d;
}
ul.icons-list li a:hover {
  border-color: #14c08d;
  background-color: #14c08d;
}
.colored-region ul.icons-list li a:hover {
  background-color: #14c08d;
}
.colored-region.dark-region ul.icons-list li a:hover {
  background-color: #14c08d;
  border-color: #14c08d;
}
ul.icons-list-with-text li i {
  color: #14c08d;
}
ul.icons-list-with-text li a:hover {
  color: #14c08d;
}
.list-inline > li.icon {
  color: #14c08d;
}

/* components: image-overlay.css */
.overlay {
  background-color: rgba(20, 192, 141, 0.8);
}
.teaser-overlayed a:before {
  background-color: rgba(20, 192, 141, 0.8);
}
.masonry-grid-item .overlay .views-field-mt-tags a {
  background-color: #14c08d;
}
.masonry-grid-item .overlay .views-field-mt-tags a:hover {
  background-color: rgba(20, 192, 141, 0.7);
}
.overlay-item > span {
  background-color: rgba(20, 192, 141, 0.8);
}
.style-2 .overlayed:hover .overlay {
  background-color: rgba(20, 192, 141, 0.5);
}
.style-2 .overlayed:hover .overlay-item > span {
  color: #14c08d;
}
.style-2 .overlayed:hover .overlay-item i {
  color: #14c08d;
}
.style-2 .overlay.without-image .overlay-item > span {
  color: #14c08d;
}
.style-2.highlighted.view-promoted-items .views-row:hover .overlay.without-image {
  background-color: #14c08d;
  border-color: #14c08d;
}

/* components: menu.css */
ul.menu li a:hover {
  background-color: #14c08d;
}
ul.menu li.menu-item > a:before {
  color: #14c08d;
}
.header-container ul.menu li a:hover,
.header-container ul.sf-menu li.sfHover > a,
.header-container ul.menu li.menu-item--active-trail > a,
.header-container ul.menu li.active-trail > a {
  color: #14c08d;
}
.header-container ul.sf-menu:not(.sf-accordion) ul > li:first-child > a {
  border-color: #14c08d;
}
.header-container ul.sf-menu ul li.active-trail > a {
  color: #14c08d;
}
.header-container ul.sf-menu ul li a:hover,
.header-container ul.sf-menu ul li.sfHover > a {
  color: #14c08d;
}
.white-region .footer-area ul.menu li a:hover,
.light-gray-region .footer-area ul.menu li a:hover {
  color: #14c08d;
}
.header-container ul.menu.sf-accordion ul ul li a:hover {
  color: #14c08d;
}

/* components: more-links.css */
.more-link a {
  border-color: #14c08d;
}
.more-link a:after {
  color: #14c08d;
}
.more-link a:hover {
  background-color: #14c08d;
  border-color: #14c08d;
}

/* components: navigation-search.css */
@media (min-width:1200px) {
  .full-width .search-area #block-mt-navigation-search .form-actions:after {
    color: #14c08d;
  }
  .fixed-width .search-area .form-search {
    border-color: rgba(20, 192, 141, 0.5);
  }
}
@media (max-width:1199px) {
  .search-area .form-search {
    border-color: rgba(20, 192, 141, 0.5);
  }
}

/* components: node-links.css */
ul.links li a {
  border-color: #14c08d;
}
ul.links li a:after {
  color: #14c08d;
}
ul.links li a:hover {
  background-color: #14c08d;
  border-color: #14c08d;
}

/* components: mode.css */
.post-progressbar {
  background-color: #14c08d;
}
.author-info {
  border-top: 1px solid rgba(20, 192, 141, 0.5);
  border-bottom: 1px solid rgba(20, 192, 141, 0.5);
}
.company-info {
  border-top: 1px solid rgba(20, 192, 141, 0.5);
  border-bottom: 1px solid rgba(20, 192, 141, 0.5);
}
.node--type-mt-testimonial .field--name-body p:after {
  color: rgba(20, 192, 141, 0.25);
}

/* components: owl-carousel-global.css */
.owl-theme .owl-controls .owl-buttons div {
  color: rgba(20, 192, 141, 0.35);
}
.owl-theme .owl-controls .owl-buttons div:hover {
  color: #14c08d;
}

/* components: pager.css */
li.pager__item > a:hover {
  border-color: #14c08d;
  color: #14c08d;
}

/* components: parallax-and-video-bg.css */
.parallax-active .colored-region .highlighted-bottom-transparent-bg,
.video-bg-active .colored-region .highlighted-bottom-transparent-bg {
  background-color: rgba(20, 192, 141, 0.8);
}

/* components: parallax.css */
.parallax-active .colored-region {
  background-color: #14c08d;
}

/* components: pills.css */
.nav-pills > li > a:hover,
.nav-pills > li.active > a:hover {
  background-color: #14c08d;
  border-color: #14c08d;
}

/* components: slider-revolution-global.css */
.tp-caption .title-inner {
  background-color: rgba(20, 192, 141, 0.6);
}
.tp-caption.more-link a {
  border-color: #14c08d;
}
.tp-caption.more-link a:hover {
  background-color: #14c08d;
}
.tparrows {
  color: #14c08d;
}
.tparrows .tp-arr-titleholder {
  background-color: #14c08d;
}
.tparrows:hover {
  background-color: #14c08d;
}
.tp-bullets .tp-bullet:hover,
.tp-bullets .tp-bullet.selected {
  background-color: #14c08d;
  border-color: #14c08d;
}
.tp-bullets .tp-bullet:hover:after,
.tp-bullets .tp-bullet.selected:after {
  background-color: #14c08d;
}
.tp-bannertimer {
  background-color: #14c08d;
}

/* components: tables.css */
table th {
  background-color: rgba(20, 192, 141, 0.1);
  border-color: #14c08d;
}
table tr.even,
table tr.odd {
  border-color: #14c08d;
}

/* components: tabs.css */
.nav-tabs {
  border-color: #14c08d;
}
.dark .nav-tabs > li > a {
  color: #14c08d;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #14c08d;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  background-color: #14c08d;
}

/* components: view-latest-items.css */
.view-latest-items .views-row:hover {
  background: rgba(20, 192, 141, 0.12);
}

/* components: view-masonry-grid-layout.css */
.masonry-grid-item-body {
  background-color: #14c08d;
}
.masonry-grid-item-image + .masonry-grid-item-body:after {
  color: #14c08d;
}
.masonry-grid-item-body h2 a:hover {
  color: rgba(20, 192, 141, 0.8);
}
.masonry-grid-item:hover .masonry-grid-item-body h2 a {
  color: #14c08d;
}
.masonry-grid-item-body a.button,
.masonry-grid-item-body a.button:after,
.dark .masonry-grid-item-body a.button,
.dark .masonry-grid-item-body a.button:after {
  color: #14c08d;
}
.view-promoted-items-masonry:not(.style-2) .more-link a:hover {
  color: #14c08d;
}
.view-promoted-items-masonry:not(.style-2) .more-link a:before {
  color: #14c08d;
}

/* components: view-popular-taxonomy.css */
.view-popular-taxonomy .views-row a:hover {
  border-color: #14c08d;
  background-color: #14c08d;
}

/* components: view-promoted-items.css */
.view-promoted-items .views-field-field-mt-stat {
  color: #14c08d;
}
.view-promoted-items .views-field-mt-tags a {
  color: #14c08d;
}
.highlighted.view-promoted-items .views-row:hover .body {
  background-color: #14c08d;
  border-color: #14c08d;
}

/* components: view-testimonials-slider.css */
.view-testimonials-slider .views-field-body p:first-child:after {
  color: rgba(20, 192, 141, 0.25);
}

/* components: view-testimonials.css */
.view-testimonials-block .views-field-body p:first-child:after {
  color: rgba(20, 192, 141, 0.25);
}

/* components: views.css */
.views-field-title a:hover {
  color: #14c08d;
}
