/**
 * @file
 * Visual styles for Levelplus's image overlays.
 */

.overlayed,
.teaser-overlayed a,
.overlayed-wrapper,
.overlayed-inner {
  position: relative;
  display: block;
  overflow: hidden;
}
.teaser-overlayed a {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
}
.image-preview .overlayed {
  max-width: 100%;
  float: left;
}
.overlay {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  z-index: 10;
}
.overlay i,
.teaser-overlayed a:after {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -25.5px 0 0 -25.5px;
  font-size: 26px;
  color: #f1ede8;
  text-align: center;
  width: 55px;
  height: 55px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 4px solid #f1ede8;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.teaser-overlayed a:after {
  font-family: "FontAwesome";
  content: "\f0c1";
  line-height: 48px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.teaser-overlayed a:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.overlay i:before {
  line-height: 48px;
}
.overlay.small i {
  border-width: 2px;
  width: 30px;
  height: 30px;
  margin: -15px 0px 0 -15px;
  font-size: 16px;
}
.overlay.small i:before {
  line-height: 28px;
}
.overlay .text {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  color: #ffffff;
  font-size: 0.87em;
  padding: 20px 10px;
}
.overlayed:hover,
.overlayed-inner:hover {
  color: #ffffff !important;
  text-decoration: none;
}
.overlayed:hover .overlay,
.overlayed-wrapper:hover .overlay,
.teaser-overlayed:hover a:after,
.teaser-overlayed:hover a:before {
  opacity: 1;
  filter: alpha(opacity=100);
}
/*Masonry item overlay*/
.masonry-grid-item .overlay {
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
.masonry-grid-item:hover .overlay {
  background-color: rgba(30, 37, 39, 0.7);
}
.masonry-grid-item .overlay {
  padding: 20px 20px 20px 28px;
}
.masonry-grid-item .overlay h2 {
  font-size: 1.37em;
  margin-top: 18px;
  position: absolute;
  top: 0;
  -webkit-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
.masonry-grid-item:hover .overlay h2 {
  top: 40px;
}
.masonry-grid-item .landscape .overlay h2 {
  font-size: 1.12em;
}
.masonry-grid-item .overlay h2 a {
  color: #ffffff;
  padding-right: 10px;
}
.masonry-grid-item .overlay .button-wrapper {
  position: absolute;
  bottom: -60px;
  width: 100%;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
.masonry-grid-item:hover .overlay .button-wrapper {
  bottom: 20px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.masonry-grid-item .overlay .button-wrapper a,
.masonry-grid-item .overlay .button-wrapper a:after {
  color: #ffffff;
}
.masonry-grid-item .overlay .views-field-mt-tags {
  display: inline-block;
}
.masonry-grid-item .overlay .views-field-mt-tags a {
  color: #ffffff;
  font-size: 0.69em;
  padding: 5px 10px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  opacity: 0;
  font-weight: 700;
  text-transform: uppercase;
  filter: alpha(opacity=0);
  text-decoration: none;
  -webkit-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.masonry-grid-item:hover .overlay .views-field-mt-tags a {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.masonry-grid-item .overlay .views-field-mt-tags a:hover {
  text-decoration: none;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

/*without image*/
.masonry-grid-item .overlay.without-image {
  background-color: transparent;
  position: relative;
}
.masonry-grid-item:hover .overlay.without-image {
  background-color: transparent;
}
.masonry-grid-item .overlay.without-image h2 {
  position: static;
  margin-bottom: 20px;
}
.masonry-grid-item .overlay.without-image h2 a {
  color: #333;
}
.masonry-grid-item .overlay.without-image .button-wrapper {
  position: static;
  opacity: 1;
  filter: alpha(opacity=100);
  text-align: left;
}
.masonry-grid-item .overlay.without-image a.button,
.masonry-grid-item .overlay.without-image a.button:after {
  color: #000000;
}
.masonry-grid-item .overlay.without-image a.button:hover,
.masonry-grid-item .overlay.without-image a.button:hover:after {
  color: #ffffff;
}
.masonry-grid-item .overlay.without-image .views-field-mt-tags a {
  opacity: 1;
  filter: alpha(opacity=100);
}

/*colored region without image*/
.colored-region .masonry-grid-item .overlay.without-image .views-field-mt-tags a {
  border: 1px solid #ffffff;
}
.colored-region .masonry-grid-item .overlay.without-image h2 a {
  color: #ffffff;
}
.colored-region .masonry-grid-item .overlay.without-image a.button,
.colored-region .masonry-grid-item .overlay.without-image a.button:after {
  color: #ffffff
  border-color: #ffffff;
}
@media (min-width:991px) and (max-width:1199px) {
  .col-md-3.masonry-grid-item:hover .landscape .overlay h2 {
    opacity: 0;
    filter: alpha(opacity=0);
    top: 0;
  }
  .masonry-grid-item:hover .overlay .views-field-mt-tags a {
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
  }
}

/*Alternative blog overlay*/
.style-2 .overlay {
  opacity: 1;
  filter: alpha(opacity=1);
  background-color: transparent;
  -webkit-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
.overlay-items {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  padding-left: 15px;
  padding-bottom: 15px;
}
.overlay-item {
  display: block;
}
.overlay-item > span {
  display: inline-block;
  font-size: 11px;
  line-height: 1;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 1px;
  -webkit-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
.overlay-item i {
  position: static;
  font-size: 12px;
  padding-right: 5px;
  width: 20px;
  height: auto;
  border: none;
  margin: 0;
  line-height: 1;
  -webkit-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
.overlay-item i:before {
  line-height: 1;
}
.style-2 .masonry-grid-item:hover .overlay {
  background-color: transparent;
}
.style-2 .overlayed:hover .overlay-item > span {
  background-color: rgba(255, 255, 255, 0.8);
}

/*without image*/
.style-2 .overlay.without-image {
  display: block;
  padding: 10px 15px 0;
  border: 1px solid #e9e9e9;
  border-bottom: none;
}
.style-2 .overlay.without-image .overlay-items {
  position: static;
  padding: 0;
}
.style-2 .overlay.without-image .overlay-item {
  display: inline-block;
}
.style-2 .overlay.without-image .overlay-item > span {
  padding: 0 0 0 5px;
  background-color: transparent;
}
.style-2 .overlay.without-image .overlay-item i {
  color: #999;
}
.style-2 .views-row:hover .overlay.without-image .overlay-item > span,
.style-2 .views-row:hover .overlay.without-image .overlay-item i {
  color: #ffffff;
}

/*without image colored region*/
.colored-region .style-2 .overlay.without-image,
.colored-region .style-2.highlighted.view-promoted-items .views-row:hover .overlay.without-image {
  border-color: #ffffff;
}
.colored-region .style-2 .overlay.without-image .overlay-item > span,
.colored-region .style-2 .overlay.without-image .overlay-item i {
  color: #ffffff;
}
