/*Node Images*/
.images-container {
  margin: 0 0 30px;
}
.col-md-12 .images-container.one-value {
  text-align: center;
}
.node-teaser .field-type-image,
.node-mt-slideshow-entry .field-type-image {
  margin: 0 0 20px 0;
}
.image-preview {
  overflow: hidden;
  position: relative;
}
.col-md-12 .one-value .image-preview {
  display: inline-block;
  max-width: 100%;
  vertical-align: top;
}
.image-caption {
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: 330px;
}
.image-caption h4,
.image-caption p {
  background: rgba(30, 37, 39, 0.85);
  padding: 15px;
  margin: 0;
  color: #ffffff;
}
.image-caption h4 {
  margin-bottom: 1px;
}
.image-slider-caption {
  padding-top: 25px;
  font-weight: 700;
}
.image-slider-caption p {
  font-size: 0.87em;
}
.image-listing-items {
  overflow: hidden;
  padding-top: 20px;
}
.image-listing-item {
  float: left;
  padding: 0;
  margin: 0 2.66% 2.66% 0;
  max-width: 17.866666666%;
}
.image-listing-items .image-listing-item:nth-child(5n) {
  margin-right: 0px;
}
