/**
 * @file
 * Visual styles for Levelplus's node component.
 */

/*Node*/
.node {
  position: relative;
}
.node--view-mode-teaser {
  margin-bottom: 80px;
}
.node--view-mode-teaser header > h2 {
  margin-top: 0;
  margin-bottom: 15px;
}
.node>header {
  text-align: center;
}
.node header>div:last-child {
  padding-bottom: 15px;
}
.path-node:not(.user-logged-in) .node > header > div:last-child:nth-of-type(2) {
  margin-top: -20px;
}
.node header .field--name-user-picture {
  padding-bottom: 15px;
}
.field--name-user-picture img {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.node--view-mode-teaser header .field--name-user-picture {
  padding-top: 10px
}
.node--content-container {
  position: relative;
}
.submitted-info {
  font-size: 0.67em;
}
.submitted-user {
  font-size: 11px;
}
.node--submitted-info {
  text-align: center;
}
.node--view-mode-teaser .node__links {
  margin-top: 20px;
}
.feed-icon {
  display: block;
  margin: 0px 0 30px;
}

/*Post submitted info*/
.post-progress {
  display: none;
  border-bottom: 1px solid #d7d7d7;
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
}
.reading-time {
  font-size: 12px;
  line-height: 1.2;
}
.submitted-date + #affix.affix-top .post-progress,
.comments-count + #affix.affix-top .post-progress,
.reading-time + .post-progress {
  padding-top: 15px;
  border-top: 1px solid #c2c2c2;
}
.post-progress-value {
  font-size: 11px;
  font-weight: 400;
  padding-top: 5px;
  display: block;
  text-align: left;
}
.post-progressbar {
  height: 3px;
}
@media (max-width:767px) {
  article .node--submitted-info {
    margin-bottom: 15px;
  }
  .node:not(.node--type-mt-service):not(.node--type-mt-product) header>div:last-child {
    padding-bottom: 5px;
  }
  .submitted-date,
  .node--submitted-info .month,
  .node--submitted-info .year,
  .node--submitted-info .day,
  .node--submitted-info .comments-count,
  .node--submitted-info i,
  .node--submitted-info .comment-counter {
    display: inline-block;
    font-size: 13px;
    line-height: 1;
  }
  .submitted-date + .comments-count {
    border-left: 1px solid #c2c2c2;
    display: inline-block;
    margin-left: 7px;
    padding-left: 10px;
  }
  .node--submitted-info i {
    padding-right: 3px;
  }
  .reading-time {
    font-size: 14px;
    padding-top: 5px;
  }
  .reading-time>div {
    display: inline-block;
  }
  .reading-time span {
    font-size: 12px;
    font-weight: 700;
  }
}
@media (min-width:768px) {
  .node--submitted-info {
    width: 55px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    position: absolute;
    top: 0;
    left: 0;
  }
  .node--submitted-info.with-extra-top-space {
    top: 5px;
  }
  .submitted-date {
    padding-bottom: 10px;
  }
  .comments-count {
    padding-bottom: 15px;
  }
  .submitted-date + .comments-count {
    border-top: 1px solid #c2c2c2;
  }
  .node--submitted-info .month {
    margin-top: -1px;
  }
  .node--submitted-info .month,
  .node--submitted-info .year {
    font-size: 14px;
    text-transform: uppercase;
  }
  .node--submitted-info .day {
    font-size: 29px;
    font-weight: 900;
    margin-bottom: 2px;
  }
  .node--submitted-info i {
    margin-bottom: 5px;
    width: 100%;
  }
  .submitted-date + .comments-count i {
    padding-top: 10px;
  }
  .comment-counter {
    font-size: 11px;
  }
  .reading-time {
    padding-bottom: 15px;
    text-align: center;
    font-weight: 700;
  }
  .submitted-date + #affix.affix-top .reading-time,
  .comments-count + #affix.affix-top .reading-time {
    padding-top: 15px;
    border-top: 1px solid #c2c2c2;
  }
  .reading-time span {
    font-size: 11px;
    line-height: 1.1;
    margin-top: 3px;
    font-weight: 400;
  }
  .node--submitted-info + .node--content {
    padding-left: 75px;
    position: relative;
  }
}
@media (min-width:768px) {
  .post-progress {
    display: block;
  }
}

/*author info*/
.author-info {
  margin: 50px 0 60px 0;
  padding: 45px 0 40px;
}
.author-info .field--name-user-picture {
  float: left;
}
.author-info .field--name-user-picture img {
  max-width: 100%;
}
.author-info h5 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.28em;
}
.author-info .field--name-user-picture + .author-info-content {
  margin-left: 150px;
  font-size: 0.87em;
}
@media (max-width:767px) {
  .author-info .field--name-user-picture img {
    max-width: 100px;
  }
  .author-info .field--name-user-picture + .author-info-content {
    margin-left: 120px;
  }
}
@media (max-width:480px) {
  .author-info .field--name-user-picture {
    float: none;
    text-align: center;
    margin-bottom: 20px;
  }
  .author-info .field--name-user-picture img {
    max-width: 100%;
  }
  .author-info .field--name-user-picture + .author-info-content {
    margin-left: 0;
  }
}

/*Subheader*/
.field--name-field-mt-subheader-body {
  font-size: 2em;
  padding: 0 0 25px 0;
  line-height: 1.3;
}
.node--type-mt-showcase .field--name-field-mt-subheader-body {
  padding: 0 0 0 0;
  margin-top: -5px;
}
.layout-no-sidebars .field--name-field-mt-subheader-body {
  text-align: center;
}
.view-header .field--name-field-mt-subheader-body,
.subheader {
  padding-bottom: 40px;
}
@media (min-width:768px) {
  .layout-no-sidebars .field--name-field-mt-subheader-body {
    padding: 0 15% 15px;
  }
}

/*Product Content Type*/
.field--name-field-mt-price {
  font-size: 70px;
  line-height: 1;
  margin: 30px 0 20px;
  text-align: center;
}
.field--name-field-mt-pricing-table-item .field__item {
  margin-bottom: 15px;
  position: relative;
  padding-left: 30px;
}
.field--name-field-mt-pricing-table-item .field__item:before {
  position: absolute;
  content: "\f00c";
  font-family: "FontAwesome";
  line-height: 1;
  left: 0px;
  top: 3px;
}

/*Testimonial page*/
.field--name-field-mt-testimonial-image img {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  max-width: 140px;
  float: left;
}
.field--name-field-mt-testimonial-image ~ .field--name-body,
.field--name-field-mt-testimonial-image ~ .field--name-field-mt-subtitle {
  margin-left: 160px;
}
.field--name-field-mt-testimonial-image ~ .field--name-body:after {
  clear: none;
}
.node--type-mt-testimonial .field--name-body p {
  font-size: 1.37em;
  line-height: 1.4;
  margin: 0;
  position: relative;
  padding: 40px 0 5px;
}
.node--type-mt-testimonial .field--name-body p:after {
  position: absolute;
  font-family: Georgia, Times New Roman, Serif;
  content: "“";
  left: 0px;
  top: 0px;
  font-size: 96px;
  font-style: normal;
  line-height: 1;
}
.field--name-field-mt-subtitle {
  font-size: 1.12em;
  line-height: 1.66;
  font-weight: 400;
}

/* Showcase node: Company info */
.company-info {
  margin: 50px 0 60px 0;
  padding: 45px 0 40px;
}
.company-info .field--name-field-mt-company-logo {
  float: left;
  max-width: 140px;
}
.company-info .field--name-field-mt-company-logo img {
  max-width: 100%;
}
.company-info .title {
  font-size: 1.28em;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 15px;
}
.company-info .field--name-field-mt-company-logo + .company-info-content {
  margin-left: 160px;
  font-size: 0.87em;
}
@media (max-width: 767px) {
  .company-info .field--name-field-mt-company-logo img {
    max-width: 100px;
  }
  .company-info .field--name-field-mt-company-logo + .company-info-content {
    margin-left: 120px;
  }
}
@media (max-width: 480px) {
  .company-info .field--name-field-mt-company-logo {
    float: none;
    text-align: center;
    margin-bottom: 20px;
    max-width: 100%;
  }
  .company-info .field--name-field-mt-company-logo img {
    max-width: 100%;
  }
  .company-info .field--name-field-mt-company-logo + .company-info-content {
    margin-left: 0;
  }
}

/*Team Member Content Type*/
.members-social-bookmarks {
  list-style: none;
  padding: 0;
}
.members-social-bookmarks .social-media-item {
  margin: 0 5px 5px;
  display: inline-block;
}
.members-social-bookmarks .social-media-item a {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #c8c8c8;
  display: block;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  text-align: center;
  color: #b2b2b2;
}
.members-social-bookmarks .social-media-item a:hover {
  color: #666666;
  border-color: #666666;
  text-decoration: none;
}
.members-social-bookmarks:not(.text-center) .social-media-item {
  margin-left: 0;
  margin-right: 10px;
}
.members-social-bookmarks .social-media-item i {
  line-height: 50px;
  font-size: 23px;
  position: static;
  background-color: transparent;
  box-shadow: none !important;
  width: auto;
  height: auto;
  color: inherit;
  margin: 0;
  border: none;
}
.members-social-bookmarks .social-media-item i:before {
  line-height: 50px;
}
.photo-container {
  position: relative;
  margin: 0 0 20px 0;
}
.photo-container .members-social-bookmarks {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: rgba(30, 37, 39, 0.85);
  margin: 0;
  padding: 10px 0 5px;
}
.photo-container .members-social-bookmarks .social-media-item a {
  border-color: rgba(255, 255, 255, 0.7);
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.photo-container .members-social-bookmarks .social-media-item a:hover {
  border-color: #ffffff;
  color: #ffffff;
}
