/**
 * @file
 * Visual styles for Levelplus's testimonials carousel.
 */

.view-testimonials-carousel {
  margin-bottom: 25px;
}
.view-testimonials-carousel .owl-item-inside {
  padding: 0px 15px;
  background-color: rgba(255, 255, 255, 0.85);
  margin: 15px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.view-testimonials-carousel .owl-item-inside>div:first-child {
  padding-top: 30px;
}
.view-testimonials-carousel .owl-item-inside>div:last-child {
  padding-bottom: 15px;
}
.view-testimonials-carousel .owl-item-inside:hover {
  background-color: rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
}
.view-testimonials-carousel img {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  margin-bottom: 25px;
}
.view-testimonials-carousel .views-field-title a {
  margin-bottom: 0;
  font-style: italic;
}
.view-testimonials-carousel .views-field-field-mt-subtitle p {
  font-size: 0.67em;
  text-transform: uppercase;
  color: rgba(46, 52, 54, 0.5);
  padding-bottom: 0;
}
.white-region .view-testimonials-carousel .owl-item-inside {
  border: 1px solid rgba(0, 0, 0, 0.05)
}
.colored-region .view-testimonials-carousel .owl-item-inside {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.colored-region .view-testimonials-carousel .views-field-title a:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.colored-region .view-testimonials-carousel .views-field-field-mt-subtitle p {
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width:767px) {
  .view-testimonials-carousel .owl-theme .owl-controls {
    top: -30px;
  }
}
