/**
 * @file
 * Visual styles for Levelplus's pricing tables view.
 */

.view-pricing-tables {
  position: relative;
  padding-top: 20px;
}
.view-pricing-tables .pricing-table {
  position: relative;
  min-height: 450px;
  padding: 0 0 90px;
  margin-bottom: 30px;
  background-color: rgba(237, 242, 248, 0.8);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-align: center;
}
.view-pricing-tables .pricing-table:hover {
  background-color: rgba(237, 242, 248, 1);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.view-pricing-tables .pricing-table-body {
  padding: 0 35px;
}
.view-pricing-tables .pricing-table-header {
  position: relative;
  background-color: rgba(216, 227, 239, 0.5);
  padding: 25px 10px 15px;
}
.view-pricing-tables .most-popular .pricing-table-header {
  padding-bottom: 35px;
}
.view-pricing-tables .pricing-table .item-list>ul {
  list-style: none;
}
.view-pricing-tables .views-row:not(.most-popular) .views-field-field-mt-most-popular {
  display: none;
}
.view-pricing-tables .pricing-table .views-field-field-mt-most-popular {
  position: absolute;
  font-size: 11px;
  line-height: 1;
  position: absolute;
  width: 100%;
  padding: 0 5px;
  left: 0;
  bottom: 25px;
  font-weight: 300;
  text-transform: uppercase;
}
.view-pricing-tables .pricing-table .views-field-title h4 {
  margin: 0;
  text-transform: uppercase;
}
.view-pricing-tables .pricing-table .views-field-item {
  margin-bottom: 20px;
}
.view-pricing-tables .pricing-table-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 0 0 30px;
}
.view-pricing-tables .views-field-field-mt-price {
  font-weight: 300;
  font-size: 70px;
  margin: 15px 0;
}
@media (min-width: 768px) {
  .view-pricing-tables .most-popular {
    margin-top: -20px;
  }
}
@media (min-width: 992px) {
  .col-md-8 .view-pricing-tables .views-field-field-mt-price {
    font-size: 40px;
  }
  .col-md-8 .view-pricing-tables .pricing-table-body {
    padding: 0 10px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .view-pricing-tables .pricing-table-body {
    padding: 0 25px;
  }
  .view-pricing-tables .pricing-table-footer {
    padding: 0 25px 25px;
  }
  .view-pricing-tables .views-field-field-mt-price {
    font-size: 48px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .view-pricing-tables .pricing-table-body {
    padding: 0 15px;
  }
  .view-pricing-tables .pricing-table .views-field-item {
    font-size: 0.87em;
  }
  .view-pricing-tables .pricing-table-footer {
    padding: 0 15px 15px;
  }
  .view-pricing-tables .views-field-field-mt-price {
    font-size: 40px;
  }
}
@media (max-width: 480px) {
  .view-pricing-tables .pricing-table-body {
    padding: 0 15px;
  }
  .view-pricing-tables .pricing-table-footer {
    padding: 0 15px 15px;
  }
  .view-pricing-tables .views-field-field-mt-price {
    font-size: 40px;
  }
}

/*pricing tables @colored regions*/
.colored-region .view-pricing-tables .pricing-table {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
}
