/**
 * @file
 * Visual styles for Levelplus's testimonials slider.
 */

.view-testimonials-slider {
  padding-bottom: 25px;
}
.view-testimonials-slider .media-left {
  width: 180px;
  padding-right: 80px;
}
.view-testimonials-slider .media-left img {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.view-testimonials-slider .media-body {
  width: auto;
}
.view-testimonials-slider .views-field-body p {
  font-size: 1.37em;
  line-height: 1.4;
  padding: 40px 0 30px;
  position: relative;
}
.view-testimonials-slider .views-field-body p:first-child:after {
  position: absolute;
  font-family: Georgia, Times New Roman, Serif;
  content: "“";
  font-size: 120px;
  left: 0px;
  top: -10px;
  font-style: normal;
  line-height: 1;
}
.view-testimonials-slider .views-field-title a {
  font-size: 1.37em;
  line-height: 1.4;
  font-weight: 300;
  margin-bottom: 0;
}
.view-testimonials-slider .views-field-field-mt-subtitle {
  font-size: 1.12em;
  line-height: 1.66;
  text-transform: none;
}
.colored-region .view-testimonials-slider .views-field-body p:after {
  color: rgba(255, 255, 255, 0.5);
}
/* Direction Nav */
.view-testimonials-slider .flex-direction-nav a {
  display: block;
  width: 60px;
  height: 24px;
  margin-top: -12px;
  line-height: 24px;
  text-shadow: none;
  font-size: 18px;
  text-decoration: none;
}
.view-testimonials-slider .flex-direction-nav .flex-prev {
  left: 0px;
  padding-left: 20px;
}
.view-testimonials-slider .flex-direction-nav .flex-next {
  right: 0px;
  text-align: right;
  padding-right: 20px;
}
.view-testimonials-slider .flexslider:hover .flex-prev {
  opacity: 0.7;
  left: 0px;
}
.view-testimonials-slider .flexslider:hover .flex-next {
  opacity: 0.7;
  right: 0px;
}
.view-testimonials-slider .flex-direction-nav a:before {
  font-family: "FontAwesome";
  font-size: 24px;
  display: inline-block;
  content: '\f104';
  position: absolute;
  line-height: 24px;
  left: 0;
  top: 1px;
}
.view-testimonials-slider .flex-direction-nav a.flex-next:before {
  content: '\f105';
  left: auto;
  right: 0;
}
@media screen and (max-width:860px) {
  .flex-direction-nav .flex-prev {
    opacity: 0;
    left: 0px;
  }
  .flex-direction-nav .flex-next {
    opacity: 0;
    right: 0px;
  }
}
@media (max-width:767px) {
  .view-testimonials-slider .media-left {
    max-width: 180px;
    padding-right: 0;
    display: block;
    margin: 0 auto;
  }
  .view-testimonials-slider .views-field-body p {
    padding: 50px 0 20px;
  }
  .view-testimonials-slider .views-field-body p:after {
    top: 0px;
  }
  .view-testimonials-slider .flex-direction-nav a {
    top: 100%;
    margin-top: 0;
  }
}
