/**
 * @file
 * Visual styles for Levelplus's promoted items views.
 */

.view-promoted-items .views-row {
  margin-bottom: 15px;
}
.view-promoted-items.view-page .views-row {
  margin-top: 15px;
}
.block-system .view-promoted-items .views-row {
  margin-bottom: 30px
}
.view-promoted-items .icon {
  font-size: 48px;
  color: #d6d6d6;
  margin: 20px 0;
  display: inline-block;
  vertical-align: top;
}
.view-promoted-items h2 {
  margin-top: 0;
  font-size: 1.12em;
}
.view-promoted-items.with-icons h2 {
  font-size: 0.87em;
  margin-bottom: 25px;
}
.view-promoted-items .owl-carousel h2 {
  text-transform: none;
  margin-bottom: 5px;
}
.view-promoted-items .owl-carousel .overlay h2 a {
  color: #ffffff;
}
.view-promoted-items .owl-carousel p {
  padding-bottom: 0;
  padding-top: 5px;
}
.view-promoted-items .views-field-field-image {
  margin: 0 auto 20px;
}
.view-promoted-items .views-field-field-mt-stat {
  font-size: 3.12em;
  font-weight: 300;
  line-height: 1;
  padding-bottom: 15px;
}
.view-promoted-items.with-icons .views-field-field-image {
  margin-bottom: 12px;
}
.view-benefits.view-promoted-items .views-field-field-image {
  border: none;
  margin-bottom: 30px;
}
.view-promoted-items .owl-carousel .views-field-field-image {
  border: none;
  margin: 0;
}
.view-promoted-items .view-content + .more-link {
  margin-top: 20px;
}

/*highlighted promoted items*/
.highlighted.view-promoted-items .body {
  padding: 15px;
  -webkit-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
.highlighted.style-2.view-promoted-items .body {
  font-size: 0.87em;
  border: 1px solid #e9e9e9;
}
.highlighted.style-2.view-promoted-items .button {
  font-size: 1em;
}
.view-promoted-items .views-field-mt-tags {
  display: inline-block;
}
.view-promoted-items .views-field-mt-tags a {
  color: #ffffff;
  font-size: 0.69em;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 5px 0;
  text-transform: uppercase;
  display: inline-block;
  line-height: 1;
  font-weight: 700;
  -webkit-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  border-bottom: 1px solid transparent;
}
.view-promoted-items .views-field-mt-tags a:hover {
  text-decoration: none;
  border-bottom-color: #ffffff;
}
.highlighted.view-promoted-items .views-row:hover .body {
  color: #ffffff;
}
.highlighted.view-promoted-items .views-row:hover .body a {
  color: #ffffff;
}
.highlighted.view-promoted-items .views-row:hover .body a:hover {
  opacity: 0.85;
  filter: alpha(opacity=85);
}
.highlighted.view-promoted-items .views-row:hover .body p a {
  border-color: #ffffff;
}
.highlighted.view-promoted-items .views-row:hover .views-field-mt-tags a {
  color: #ffffff;
}
.white-region .highlighted.style-2.view-promoted-items .views-row:hover .button,
.light-gray-region .highlighted.style-2.view-promoted-items .views-row:hover .button {
  color: #fff;
  border-color: #ffffff;
}
.white-region .highlighted.style-2.view-promoted-items .views-row:hover .button:after,
.light-gray-region .highlighted.style-2.view-promoted-items .views-row:hover .button:after {
  color: #ffffff;
}
.highlighted.view-promoted-items .views-field-field-image {
  margin: 0 auto;
}
@media (max-width:767px) {
  .view-promoted-items.view-page .views-row {
    margin-bottom: 40px;
  }
  .view-promoted-items .views-field-field-image {
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media (min-width:768px) {
  .highlighted.style-2.view-promoted-items .body {
    min-height: 230px;
    position: relative;
    padding-bottom: 65px;
  }
  .highlighted.style-2.view-promoted-items .more-container {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 15px;
    width: 100%;
  }
}
.colored-region .highlighted.view-promoted-items .views-row:hover .body {
  border-color: #ffffff;
  border-top-color: transparent;
}
.dark .highlighted.view-promoted-items .views-row:hover .body {
  background-color: transparent;
}
.colored-region:not(.dark) .highlighted.style-2.view-promoted-items .views-row:hover .button {
  border-color: transparent;
}
.colored-region .view-promoted-items .icon {
  color: rgba(255, 255, 255, 0.85);
}
.colored-region .view-promoted-items .icon:hover {
  color: #ffffff;
}
.colored-region .view-promoted-items .views-field-field-mt-stat {
  color: #ffffff;
}
.colored-region .view-promoted-items .views-field-mt-tags a {
  text-decoration: none;
  color: #ffffff;
}
.colored-region .view-promoted-items .views-field-mt-tags a:hover {
  opacity: 0.85;
  filter: alpha(opacity=85);
}
.colored-region .highlighted.view-promoted-items .views-row:hover .body p a {
  border-color: #1e2527;
}
